#foodContainer{
    display: grid;
    grid-template-columns: repeat(4,250px);
    gap: 80px;
    align-items:center;
    justify-content: center;
    padding: 50px;
}

.foodCard{
    height: 600px;
}